div.main{
    margin: 10px;
    justify-content: space-around;
}
img.persontag{
    border-radius: 50%;
    z-index: 1;
    border: 3px solid blue;
    border-right: 0px;
}
div.text{
    width: 80%;
    padding-left: 70px;
    margin-left: -50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
div.name{
    font-weight: bold;
}