div.main{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
    position: absolute;
    background-image: url('src/assets/bg.svg');
    background-repeat: no-repeat;
}
div.section{
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10%;
    margin-inline: 10%;
}

div.section>p{
    border: 3px solid blue;
    margin-top: 10%;
}