div.main{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
    position: absolute;
    background-image: url('src/assets/bg.svg');
    background-repeat: no-repeat;
    overflow-x: hidden;
}
div.section{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-inline: 10%;
}
div.center{
    margin-top: 5%;
    text-align: center;
    margin-inline: 20%;
}

div.seminars{
    align-items: center;
    justify-content: center;
}
div.seminars>div>div{
    margin: 5%;
}
div.section>p{
    margin-top: 10%;
}
div.footer{
    margin-top: 20%;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}
div.halfwidth{
    width: 48%;
}
.ltr{
    transform: translateX(-100%);
}
.rtl{
    transform: translateX(100%);
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0) ;
}
div.speakers:nth-child(2){
    transition-delay: 300ms;
}
div.speakers:nth-child(3){
    transition-delay: 600ms;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}