<div class="main">
    <!-- <p>Title: <span class="seminar-title">{{seminar.title}}</span></p> -->
    <div class="mycol details">
        <div class="myrow">
            <i class="fa fa-microphone"></i>
            Speaker: <span class="speakers"> {{seminar.speakers}}</span>
        </div>
        <div class="myrow">
            <i class="fa fa-calendar"></i>
            {{seminar.dateTime}}
        </div>
        <!-- <div class="myrow">
            <i class="fa fa-map-marker"></i>
            {{seminar.venue}}
        </div> -->
        <!-- <div *ngIf="seminar.contact" class="myrow">
            <i class="fa fa-address-book"></i>
            Contact: {{seminar.contact}}
        </div> -->
    </div>
    <p *ngIf="seminar.description">{{seminar.description}}</p>
    <div class="bordered" style="border-width: 2px;">
        <div>Zoom Details</div>
        <a *ngIf="seminar.link" [href]="seminar.link" target="_blank">
            <i class="fa fa-external-link"></i>
            Join Meeting
        </a>
        <div *ngIf="seminar.meetingID" class="myrow">
            Meeting ID: 
            <div style="padding-left: 2px;">
                {{seminar.meetingID}}
            </div>
                <i id="{{seminar.description}}" (click)="copyToClipboard(seminar.meetingID,seminar.description)" style="cursor: pointer;" class="fa fa-copy"></i>
        </div>
        <div *ngIf="seminar.password" class="myrow">
            Password: 
            <div style="padding-left: 2px;">
                {{seminar.password}}
            </div>
            <i id="{{seminar.description+'1'}}" (click)="copyToClipboard(seminar.password,seminar.description+'1')" style="cursor: pointer;" class="fa fa-copy"></i>
        </div>
    </div>
    
    <hr>
</div>